{
 "trailingComma": "es5",
 "tabWidth": 1,
 "semi": false,
 "singleQuote": true,
 "arrowParens": "always",
 "printWidth": 100,
 "plugins": ["@trivago/prettier-plugin-sort-imports"],
 "importOrder": [
  "@/styles/styles.css",
  "./src/styles/styles.css",
  "-polyfill$",
  "^react$",
  "^@apollo/client",
  "^server/(.*)$",
  "<THIRD_PARTY_MODULES>",
  "^routing/(.*)",
  "^types/(.*)$",
  "^context/(.*)$",
  "^stores/(.*)$",
  "^classes/(.*)$",
  "^hooks/(.*)$",
  "^components/atoms/(.*)$",
  "^components/molecules/(.*)$",
  "^components/organisms/(.*)$",
  "^components/templates/(.*)$",
  "^components/pages/(.*)$",
  "^components/(.*)$",
  "^containers/(.*)$",
  "^@(.*)$",
  "^services/(.*)$",
  "^utils/(.*)$",
  "^constants/(.*)$",
  "^common/(.*)$",
  "^(../)",
  "^(./)(?!styles.module)",
  ".scss$",
  ".css$",
  "./styles.module.scss"
 ],
 "importOrderSeparation": true,
 "importOrderSortSpecifiers": true
}
