@font-face {
 font-family: AvenirNext;
 font-style: normal;
 font-weight: 400;
 font-display: swap;
 src: url('../../public/assets/fonts/AvenirNextLTPro-Regular.otf') format('truetype');
}

@font-face {
 font-family: AvenirNext;
 font-style: normal;
 font-weight: 800;
 font-display: swap;
 src: url('../../public/assets/fonts/AvenirNextLTPro-Heavy.otf') format('truetype');
}

@font-face {
 font-family: AvenirNext;
 font-style: normal;
 font-weight: 700;
 font-display: swap;
 src: url('../../public/assets/fonts/AvenirNextLTPro-Bold.otf') format('truetype');
}

@font-face {
 font-family: AvenirNext;
 font-style: normal;
 font-weight: 600;
 font-display: swap;
 src: url('../../public/assets/fonts/AvenirNextLTPro-Demi.otf') format('truetype');
}

@font-face {
 font-family: AvenirNext;
 font-style: italic;
 font-weight: 400;
 font-display: swap;
 src: url('../../public/assets/fonts/AvenirNextLTPro-It.otf') format('truetype');
}

@font-face {
 font-family: AvenirNext;
 font-style: normal;
 font-weight: 500;
 font-display: swap;
 src: url('../../public/assets/fonts/AvenirNextLTPro-Medium.otf') format('truetype');
}

@font-face {
 font-family: AvenirNext;
 font-style: normal;
 font-weight: 300;
 font-display: swap;
 src: url('../../public/assets/fonts/AvenirNextLTPro-UltLt.otf') format('truetype');
}

* {
 font-family: 'AvenirNext', sans-serif;
}
